---
layout: default
title: Home
---

<!-- WRAPPER -->
    <div class="wrapper">

        <!-- PAGE : ABOUT -->
        <section id="about" class="page">
            <div class="content">
                <!-- row -->
                <div class="row">
                    <!-- column 12/12 -->
                    <div class="col-md-12">
                        <h2 class="section-title"><span><i class="icon-guest"></i>ทำความรู้จักกันก่อน</span></h2>
                        <!-- intro -->
                        <div class="intro">
                            <h2>
                                ยินดีที่ได้รู้จัก ผมเป็น
                                <span class="rotate-words">
                                    <span>โปรแกรมเมอร์</span>
                                    <span>นักพัฒนาเว็บไซต์</span>
                                    <span>นักออกแบบ</span>
                                    <span>ตากล้อง</span>
                                    <span>ช่างภาพ</span>
                                    <span>อาจารย์</span>
                                    <span>ผู้แสวงหาความรู้</span>
                                </span>
                                <br>
                                อาศัยอยู่เมืองตากอากาศ หัวหิน ประจวบคีรีขันธ์
                                <br>
                                ผมมองหาโอกาสใหม่ๆ เพื่อเรียนรู้
                                พร้อมที่จะแบ่งปันความรู้ และรับใช้ท่านเสมอ
                            </h2>
                        </div>
                        <!-- intro -->
                    </div>
                    <!-- column 12/12 -->
                </div>
                <!-- row -->

                <h2 class="section-title"><span><i class="fa fa-magic"></i>ความสนใจ</span></h2>
                <!-- SERVICES -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <!-- service -->
                        <div class="service color1">
                            <i class="fa fa-html5"></i>
                            <h4>ออกแบบและพัฒนาเว็บไซต์</h4>
                            <!-- <p>ผมชอบสร้างเว็บI love making web sites! I can do both front end and
                            back end web development, but if I had to choose, I'd
                            choose back-end – or possibly full stack if that's an option!</p> -->
                        </div>
                        <!-- service -->
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <!-- service -->
                        <div class="service color2">
                            <i class="fa fa-code"></i>
                            <h4>การออกแบบ</h4>
                            <!-- <p>I love web development, but I also love programming in general. I'm still
                                interested in other fields: software, mobile, etc.!</p> -->
                        </div>
                        <!-- service -->
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <!-- service -->
                        <div class="service color4">
                            <i class="fa fa-rocket"></i>
                            <h4>การศึกษาและแบ่งปันความรู้</h4>
                            <!-- <p>I'm lucky to be in a field where this is a real possibility! What's
                            better than the rush of joy from learning and understanding
                            something new? </p> -->
                        </div>
                        <!-- service -->
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <!-- service -->
                        <div class="service color5">
                            <i class="fa fa-camera-retro"></i>
                            <h4>ถ่ายภาพ</h4>
                            <!-- <p>I love studying constitutional law! If you ask me about a case I've studied, then you've
                            made a mistake because I won't shut up until you're just as excited as I am.</p> -->
                        </div>
                        <!-- service -->
                    </div>
                </div>
                <!-- SERVICES -->

                <h2 class="section-title"><span><i class="fa fa-heart"></i>เกร็ดน่าสนใจ</span></h2>

                <!-- FUN FACT -->
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <!-- fun-fact -->
                        <div class="fun-fact">
                            <i class="fa fa-home"></i>
                            <h4>ผมเกิดและเติบโต<br>ที่กรุงเทพ และ<br>เพิ่งย้ายมาหัวหินเมื่อ<br>ไม่กี่ปีมานี้</h4>
                        </div>
                        <!-- fun-fact -->
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <!-- fun-fact -->
                        <div class="fun-fact">
                            <i class="fa fa-quote-left"></i>
                            <h4>ผมเชื่อว่าความรู้ <br>ยิ่งให้ยิ่งได้รับคืน</h4>
                        </div>
                        <!-- fun-fact -->
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <!-- fun-fact -->
                        <div class="fun-fact">
                            <i class="fa fa-coffee"></i>
                            <h4>กาแฟเป็นเครื่องดื่ม<em>สุดโปรด</em></h4>
                        </div>
                        <!-- fun-fact -->
                    </div>
                </div>
                <!-- FUN FACT -->
            </div>
        </section>
        <!-- PAGE : ABOUT -->



        <!-- PAGE : PORTFOLIO -->
        <section id="portfolio" class="portfolio page">
            <div class="content">
                <h2 class="section-title center"><span><i class="icon-leaf"></i>ผลงานที่ผ่านมา</span></h2>

                <!--FILTERS-->
                <ul id="filters" class="filters">
                  <li class="current"><a href="#" data-filter="*">ดูทั้งหมด</a></li>
                  <li><a href="#" data-filter=".web-development">เว็บไซต์</a></li>
                  <li><a href="#" data-filter=".graphic-design">ออกแบบ</a></li>
                  <!-- <li><a href="#" data-filter=".photo">ถ่ายภาพ</a></li>
                  <li><a href="#" data-filter=".video">วิดิโอ</a></li>
                  <li><a href="#" data-filter=".teach">การสอน</a></li> -->
                </ul>
                <!--FILTERS-->


                <!-- PORTFOLIO -->
                <div class="portfolio-items media-grid" data-layout="masonry">
                {% assign projects = site.data.projects | get_projects_from_files | sort:'date' %}
                {% for project in projects reversed %}
                      <!-- portfolio-item -->
                      <div class="media-cell {{ project.category | slugify }} hentry">

                        <div class="media-box">
                            <img src="{{ project.image.url }}" alt="{{ project.image.alt }}" title="{{ project.image.title }}">
                            <div class="mask"></div>
                            <a href="{{ project.dir }}" class="ajax"></a>
                        </div>

                        <div class="media-cell-desc">
                            <h3>{{ project.title }}</h3>
                            <p class="category">{{ project.category }}</p>
                        </div>

                      </div>
                      <!-- portfolio-item -->

                {% endfor %}
                </div>
                </div>
                </section>
                <!-- PORTFOLIO -->


        <!-- PAGE : CONTACT -->
        <section id="contact" class="page">
            <div class="content">
                <!-- row -->
                <div class="row">
                    <!-- column 12/12 -->
                    <div class="col-md-12">
                        <h2 class="section-title"><span><i class="icon-paper-plane"></i>ส่งจดหมายถึง</span></h2>

                        <div class="letter">
                            <h4 class="letter-title">รัฐพงศ์ วรชาติอุดมพงศ์</h4>
                            <div class="stamp">
                                <img src="/img/stamp.png" alt="stamp">
	                        </div>
                            <div class="letter-info">
                                <p><i class="icon-at"></i>maggotgluon@gmail.com</p>
                                <p><i class="icon-location"></i>หัวหิน, ประจวบคีรีขันธ์</p>
                            </div>
                          </div>
                        <!-- .contact-form -->
                        <div class="contact-form">
                            <form id="contact-form" action="http://formspree.io/maggotgluon@gmail.com" method="post">
                                <!-- enter mail subject here -->
                                <input type="hidden" name="_subject" id="subject" value="New Message From Contact Form!">

                                <p>
                                    <label for="name">ชื่อผู้ส่ง</label>
                                    <input type="text" name="name" id="name" class="required">
                                </p>

                                <p>
                                    <label for="email">ที่อยู่ (E-mail)</label>
                                    <input type="text" name="email" id="email" class="required email">
                                </p>


                                <p>
                                    <label for="message">ข้อความ</label>
                                    <textarea name="message" id="message" class="required"></textarea>
                                </p>

                                <input type="text" name="_gotcha" style="display:none">

                                <p>
                                    <input type="submit" class="submit button primary" value="ส่ง">
                                </p>

                            </form>

                        </div>
                        <!-- .contact-form -->

                    </div>
                    <!-- column 12/12 -->
                </div>
                <!-- row -->
            </div>
        </section>
        <!-- PAGE : CONTACT -->



        <!-- PAGE : BLOG -->
        <section id="blog" class="page">
            <div class="content">
                <h2 class="section-title center"><span><i class="icon-book-open"></i>เรื่องราวที่แบ่งปันล่าสุด</span></h2>

                <!-- LATEST POSTS -->
                <!-- <div class="latest-posts media-grid" data-layout="fitRows">
                  <center>Comming Soon</center>
                </div> -->

                <div class="latest-posts media-grid" data-layout="fitRows">
                    {% for post in site.posts %}
                    <article class="hentry media-cell">

                        <div class="media-box">
                            {% if post.img %}
                            <img src="{{ post.img.url }}" alt="{{ post.img.alt }}" title="{{ post.img.title }}">
                            {% else %}
                            <div class="text-center pt-xlg pb-xlg">
                            {% case post.type %}
                                {% when "hentry" %}
                                <i class="fa fa-pencil fa-3x"></i>
                                {% when "format-quote" %}
                                <i class="fa fa-quote-left fa-3x"></i>
                                {% when "format-link" %}
                                <i class="fa fa-link fa-3x"></i>
                                {% when "format-status" %}
                                <i class="icon-location fa-3x"></i>
                                {% when "format-video" %}
                                <i class="fa fa-film fa-3x"></i>
                                {% when "format-audio" %}
                                <i class="icon-mic fa-3x"></i>
                                {% when "format-aside" %}
                                <i class="icon-attach fa-3x"></i>
                                {% when "format-image" %}
                                <i class="icon-camera-2 fa-3x"></i>
                                {% when "format-gallery" %}
                                <i class="icon-camera-2 fa-3x"></i>
                            {% endcase %}
                            </div>
                            {% endif %}
                            <div class="mask"></div>
                            <a href="{{ post.url }}"></a>
                        </div>

                        <header class="media-cell-desc">
                            <span title="{{ post.date | date: '%Y'}}" class="date"><span class="day">{{ post.date | date: '%d'}}</span>{{ post.date | date: '%b' | downcase }}</span>
                            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

                        </header>

                    </article>
                    {% endfor %}

                </div>

                <!-- LATEST POSTS -->
                <p class="launch"><a class="button primary" href="/blog">ดูทั้งหมด</a></p>

            </div>
        </section>
        <!-- PAGE : BLOG -->


        <!-- PAGE : RESUME -->
        <section id="resume" class="page">
            <div class="content">
                <!-- CONTENT -->


                <!-- row -->
                <div class="row">
                    <!-- col 6/12 -->
                    <div class="col-md-6">
                        <!-- timeline -->
                        <div class="timeline">
                            <h2><i class="fa fa-flask"></i>การทำงาน</h2>
                            {% for experience in site.data.experiences reversed %}
                            <div class="event {% if experience.current %}current{% endif %}">
                                <span class="date">{{ experience.end | date: "%Y" }}</span>
                                <h4>{{ experience.title }}</h4>
                                <h5>{{ experience.company }} <span class="pull-right">{{ experience.location }}</span></h5>
                                <div class="work-summary">{{ experience.summary | markdownify }}</div>
                                <h5>{{ experience.end | date: "%m/%Y" }} - {{ experience.end | date: "%m/%Y" }}</h5>
                                {% if experience.blog_post %}
                                  <p><a href="{{ experience.blog_post }}"> อ่านรายละเอียดเพิ่มเติม </a></p>
                                {% endif %}
                            </div>
                            {% endfor %}
                       </div>
                       <!-- timeline -->

                       <!-- timeline -->
                       <div class="timeline">
                            <h2><i class="icon-college"></i>การศึกษา</h2>
                            {% for education in site.data.education %}
                            <div class="event {% if education.current %}current{% endif %}">
                                <span class="date">{{ education.end | date: "%Y" }}</span>
                                {% for degree in education.degrees %}
                                <h4>{{ degree.name }},<br> {{ degree.concentration }} <small>({{ degree.type }})</small></h4>
                                {% endfor %}
                                <h5>{{ education.school }}</h5>
                                <p>{{ education.description | markdownify }}</p>
                            </div>

                            {% endfor %}
                       </div>
                       <!-- timeline -->


                      </div>
                      <!-- col 6/12 -->

                       <!-- col 6/12 -->
                       <div class="col-md-6">
                           <!-- Dev Skills -->
                            <h2 class="section-title"><span><i class="icon-cog-1"></i>ความสามารถ</span></h2>

                            <p class="skill-list">หมายเหตุ <span>*</span> ความสามารถที่มีความถนัดเป็นพิเศษ สามารถสอนได้</p>
                            <h3>เครื่องมือ</h3>
                            <ul class="list-inline skill-list">
                                <li>Adobe Photoshop<span>*</span></li>
                                <li>Adobe Illustrator<span>*</span></li>
                                <li>Adobe Aftereffect<span>*</span></li>
                                <li><br>Adobe Premiere</li>
                                <li>Adobe Flash Professional<span>*</span></li>
                                <li>Adobe Dreamwaver<span>*</span></li>
                                <li>Adobe Lightroom</li>
                                <li>Apple Final Cut Pro<span>*</span></li>
                                <li>Apple Motion<span>*</span></li>
                                <li><br>Microsoft Office</li>
                                <li>Modo 3D<span>*</span></li>
                                <li>Maya</li>
                                <li>Sketch Up</li>
                                <li>Unity 3D</li>
                                <li><br>Ableton Live</li>
                                <li>Apple Logic</li>
                            </ul>

                            <h3>การเขียนโปรแกรม</h3>
                            <ul class="list-inline skill-list">
                                <li>HTML<span>*</span></li>
                                <li>Java</li>
                                <li>PHP</li>
                                <li>CSS<span>*</span></li>
                                <li>MsSQL</li>
                                <li>C++</li>
                                <li>C#</li>
                                <li>Phyton</li>
                            </ul>

                            <h3>ทักษะอื่นๆ</h3>
                            <ul class="list-inline skill-list">
                                <li>การออกแบบ<span>*</span></li>
                                <li>การสื่อสารภาษาอังกฤษ</li>
                                <li>การจัดอีเว้น</li>
                                <li>ถ่ายภาพนิ่ง<span>*</span></li>
                                <li><br>ถ่ายวีดิโอ<span>*</span></li>
                                <li>ความคิดสร้างสรรค์</li>
                            </ul>

                            <!-- Dev Skills -->

                            <!-- Awards/Honors -->
                            <h2 class="section-title"><span><i class="icon-award-1"></i>รางวัล/ใบประกาศ</span></h2>
                            <ul>
                            {% for award in site.data.accomplishments reversed %}
                                <li>{{ award.title }} <br><span>{{ award.from }}</span><span class="pull-right">{{ award.date }}</span></li>
                            {% endfor %}
                            </ul>
                            <!-- Awards/Honors -->

                            <!-- Planning to Learn -->
                            <h2 class="section-title"><span><i class="icon-college"></i>กำลังศึกษา</span></h2>
                            <!-- <p>I've already used these things before, but I can't say that I <em>really</em> understand them yet. So I hope
                            to use these in my upcoming projects:</p> -->
                            <ul class="planning-to-learn">
                                <li>
                                    <strike>Jekyll</strike>
                                    <i class="fa fa-check success"></i>
                                    <span>30 November 2015</span>
                                </li>
                                <li>Ruby on Rails</li>
                                <li>Node</li>

                            </ul>
                            <!-- Planning to Learn -->

                       </div>
                       <!-- col 6/12 -->

                </div>
                <!-- row -->
            </div>
            <!-- CONTENT -->
        </section>
        <!-- PAGE : RESUME -->
    </div>
    <!-- WRAPPER -->
</div>
<!-- CONTAINER -->
